{% load static %}

<div class="col-sm-6 col-lg-4 p-b-20">
	<div class="size-h-3 flex-s-c">
		<h5 class="f1-m-7 cl0">
			Category
		</h5>
	</div>

	<ul class="m-t--12">
		<li class="how-bor1 p-rl-5 p-tb-10">
			<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
				Fashion (22)
			</a>
		</li>

		<li class="how-bor1 p-rl-5 p-tb-10">
			<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
				Technology (29)
			</a>
		</li>

		<li class="how-bor1 p-rl-5 p-tb-10">
			<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
				Street Style (15)
			</a>
		</li>

		<li class="how-bor1 p-rl-5 p-tb-10">
			<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
				Life Style (28)
			</a>
		</li>

		<li class="how-bor1 p-rl-5 p-tb-10">
			<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
				DIY & Crafts (16)
			</a>
		</li>
	</ul>
</div>