{% load static %}

<div class="col-sm-6 col-lg-4 p-b-20">
	<div class="size-h-3 flex-s-c">
		<h5 class="f1-m-7 cl0">
			Popular Posts
		</h5>
	</div>

	<ul>
		<li class="flex-wr-sb-s p-b-20">
			<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
				<img src="{% static 'images/popular-post-01.jpg' %}" alt="IMG">
			</a>

			<div class="size-w-5">
				<h6 class="p-b-5">
					<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
						Donec metus orci, malesuada et lectus vitae
					</a>
				</h6>

				<span class="f1-s-3 cl6">
					Feb 17
				</span>
			</div>
		</li>

		<li class="flex-wr-sb-s p-b-20">
			<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
				<img src="{% static 'images/popular-post-02.jpg' %}" alt="IMG">
			</a>

			<div class="size-w-5">
				<h6 class="p-b-5">
					<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
						Lorem ipsum dolor sit amet, consectetur
					</a>
				</h6>

				<span class="f1-s-3 cl6">
					Feb 16
				</span>
			</div>
		</li>

		<li class="flex-wr-sb-s p-b-20">
			<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
				<img src="{% static 'images/popular-post-03.jpg' %}" alt="IMG">
			</a>

			<div class="size-w-5">
				<h6 class="p-b-5">
					<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
						Suspendisse dictum enim quis imperdiet auctor
					</a>
				</h6>

				<span class="f1-s-3 cl6">
					Feb 15
				</span>
			</div>
		</li>
	</ul>
</div>