{% load static %}

<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
    	{% include "./shared/head.html" %}
    	<title>MagNews | {% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div id="page-wrapper">

            <div class="preloader themed-background">
                <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
                <div class="inner">
                    <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                    <div class="preloader-spinner hidden-lt-ie10"></div>
                </div>
            </div>

            <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

                <!-- Main Sidebar -->
                {% include "./shared/sidebar.html" %}
                <!-- END Main Sidebar -->

                <!-- Main Container -->
                {% block content %}
                    
                {% endblock content %}
                <!-- END Main Container -->
            
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- END User Settings -->


        {% block scripts_table %}
        {% endblock scripts_table %}

        {% block scripts %}
        {% endblock scripts %}
 


    </body>
</html>