{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}{{block.super}} Home{% endblock title %}

{% block content %}>

<!-- Main Container -->
<div id="main-container">

	<!-- Header -->    
	{% include "./shared/header.html" %}
    <!-- END Header -->

    <!-- Page content -->
    <div id="page-content">
        <!-- Datatables Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-table"></i>News List<br><small>You can Add, Edit and Delete your data!</small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>News</li>
            <li><a href="/panel/news/list">List</a></li>
        </ul>
        <!-- END Datatables Header -->

        <!-- Datatables Content -->
        <div class="block full">
            <div class="block-title">
                <h2><strong>News</strong> List</h2>
            </div>

            <div class="table-responsive">
                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">{{news_list.pk}}</th>
                            <th class="text-center">Image<i class="gi gi-user"></i></th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Views</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for news_list in news_lists %}
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center"><img src="{% static 'dashboard/img/placeholders/avatars/avatar12.jpg' %}" alt="avatar" class="img-circle"></td>
                            <td>{{news_list.date}}</td>
                            <td>{{news_list.title}}</td>
                            <td>--</td>
                            <td>{{news_list.writer}}</td>
                            <td>--</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="javascript:void(0)" data-toggle="tooltip" 
                                        title="Edit" class="btn btn-xs btn-default">
                                        <i class="fa fa-pencil"></i>Edit</a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" 
                                        title="Delete" class="btn btn-xs btn-danger">
                                        <i class="fa fa-times"></i>Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END Datatables Content -->
    </div>
    <!-- END Page Content -->

    <!-- Footer -->
    {% include "./shared/footer.html" %}
    <!-- END Footer -->
</div>

{% endblock content %}

{% block scripts_table %}
	{% include "./shared/scripts_table.html" %}
{% endblock scripts_table %}